project:
    name: NERU_PROJECT_NAME
instance:
    name: dev
    runtime: nodejs
    region: NERU_REGION
    application-id: VONAGE_APPLICATION_ID
    configurations:
        apiSecret: VONAGE_API_SECRET